.mobile_menu {
  background: #fff;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 40px;
  z-index: 1000;
}

.mobile_menu_orange {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 40px;
  z-index: 1000;
  background: #f6b83d;
}

.mobile_btn_close {
  position: absolute;
  top: 28px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile_close_icon {
  stroke-width: 3px;
  stroke: #262626;
}

.mobile_close_icon_orange {
  stroke-width: 3px;
  stroke: #fff;
}

.mobile_nav {
  flex: 1;
  display: flex;
  align-items: center;
}

.mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_btn,
.nav_btn_orange {
  display: block;
  width: 140px;
  padding: 15px 0;
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.nav_btn {
  border: 1px solid rgba(38, 38, 38, 0.15);
  color: #262626;
}

.nav_btn_orange {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.nav_btn:hover {
  border: 1px solid #f6b83d;
}

.mobile_actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.action_login,
.action_login_orange,
.logout,
.logout_orange {
  width: 100%;
  max-width: 260px;
  padding: 12px 0;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.action_login,
.logout {
  background: #f6b83d;
  color: #fff;
}

.action_login_orange,
.logout_orange {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}

.action_login:hover,
.logout:hover {
  color: #f6b83d;
  background: #fff4df;
}

.action_login_orange:hover,
.logout_orange:hover {
  background: #fff4df;
  color: #f6b83d;
}

.action_register {
  width: 100%;
  max-width: 260px;
  padding: 12px 0;
  border-radius: 30px;
  background: #fff4df;
  color: #f6b83d;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
}

.action_register:hover {
  background: #fbe7c1;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .mobile_menu,
  .mobile_menu_orange {
    padding: 39px 32px 40px;
  }

  .mobile_close_icon,
  .mobile_close_icon_orange {
    width: 36px;
    height: 36px;
  }

  .nav_btn,
  .nav_btn_orange,
  .action_register,
  .action_login,
  .action_login_orange,
  .logout,
  .logout_orange {
    font-size: 16px;
  }

  .mobile_actions {
    flex-direction: row;
    justify-content: center;
  }

  .action_register,
  .action_login_orange,
  .logout_orange,
  .action_login,
  .logout {
    padding: 15px 0;
  }
}

@media screen and (min-width: 1280px) {
  .mobile_menu,
  .mobile_menu_orange {
    display: none;
  }
}
