.form_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pet_form {
  border-radius: 30px;
  background: #fff;
  padding: 28px 20px 20px 20px;
  margin: 0 auto;
  max-width: 335px;
  width: 100%;
}

.form_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-bottom: 24px;
}

.form_span {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

.form_box_radios {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0 0 8px 0;
}

.visually_hidden {
  display: none;
}

.form_radio_first {
  background: rgba(244, 63, 94, 0.1);
  border-radius: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.form_radio_first input,
.form_radio_second input,
.form_radio_third input,
.wrapper_data_label input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio_icon_first {
  stroke-width: 1.5px;
  stroke: #f43f5e;
  fill: transparent;
}

.form_radio_second {
  background: rgba(84, 173, 255, 0.1);
  border-radius: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.radio_icon_second {
  stroke-width: 1.5px;
  stroke: #54adff;
  fill: transparent;
}

.form_radio_third {
  background: #fff4df;
  border-radius: 30px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.radio_icon_third {
  fill: #f6b83d;
}

.form_radio_first:has(input:checked) {
  background: #f43f5e;
}

.form_radio_second:has(input:checked) {
  background: #54adff;
}

.form_radio_third:has(input:checked) {
  background: #f6b83d;
}

.form_radio_first:has(input:checked) .radio_icon_first {
  stroke: #fff;
}

.form_radio_second:has(input:checked) .radio_icon_second {
  stroke: #fff;
}

.form_radio_third:has(input:checked) .radio_icon_third {
  fill: #fff;
}

.form_radio_first,
.form_radio_second,
.form_radio_third {
  transition: background 0.2s ease;
}

.radio_icon_first,
.radio_icon_second,
.radio_icon_third {
  transition:
    stroke 0.2s ease,
    fill 0.2s ease;
}

.form_image {
  border-radius: 100px;
  padding: 17px;
  background: #fff4df;
  max-width: 68px;
  max-height: 68px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.image_icon {
  fill: #f6b83d;
}

.wrapper_url {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.wrapper_url_input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  max-width: 170px;
  width: 100%;
}

input:focus {
  outline: none;
  border: 1px solid #f6b83d;
}

input:not(:placeholder-shown) {
  border: 1px solid #f6b83d;
  outline: none;
}

.wrapper_url_input::placeholder,
.wrapper_form_input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.wrapper_label {
  border-radius: 30px;
  padding: 10px;
  background: #fff4df;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #262626;
  display: flex;
  align-items: center;
  max-width: 146px;
  width: 100%;
  gap: 8px;
}

.wrapper_url_icon {
  stroke-width: 1px;
  stroke: #f6b83d;
  fill: none;
}

.wrapper_form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.wrapper_form_input:focus {
  border: 1px solid #f6b83d;
}

.wrapper_form_input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
}

.wrapper_data_type {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 31px;
}

.wrapper_data_label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 16px;
  gap: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  width: 100%;
}

.wrapper_select {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  appearance: none;
  border: none;
  gap: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  cursor: pointer;
  width: 100%;
  appearance: none;
  border: none;
}

.wrapper_data_icon {
  stroke-width: 1.5px;
  stroke: #262626;
  fill: none;
}

.select_icon {
  stroke-width: 1.5px;
  stroke: #262626;
  fill: none;
  transition: transform 0.2s ease;
}

.form_btns {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
}

.btn_back {
  border-radius: 30px;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  background: rgba(38, 38, 38, 0.05);
  cursor: pointer;
}

.btn_submit {
  border-radius: 30px;
  padding: 12px 26px;
  background: #f6b83d;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
}

.btn_submit:hover,
.btn_back:hover {
  background: #fff4df;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .pet_form {
    padding: 40px 136px;
    max-width: 704px;
    position: relative;
    border-radius: 60px;
  }

  .form_title {
    font-size: 28px;
    margin-bottom: 64px;
  }

  .form_span {
    font-size: 16px;
  }

  .form_box_radios {
    margin: 0;
    position: absolute;
    top: 112px;
  }

  .form_radio_first,
  .form_radio_second .form_radio_third {
    padding: 6px;
  }

  .radio_icon_first,
  .radio_icon_second,
  .radio_icon_third {
    width: 24px;
    height: 24px;
  }

  .form_image {
    padding: 21px;
    margin-bottom: 12px;
    max-width: 86px;
    max-height: 86px;
  }

  .image_icon {
    height: 44px;
    width: 44px;
  }

  .wrapper_url {
    margin-bottom: 18px;
  }

  .wrapper_label {
    padding: 12px;
    font-size: 14px;
  }

  .wrapper_url_input {
    max-width: 278px;
    width: 100%;
  }

  .wrapper_form {
    gap: 18px;
    margin-bottom: 18px;
  }

  .wrapper_form_input {
    padding: 16px;
  }

  .wrapper_form_input::placeholder {
    font-size: 16px;
  }

  .wrapper_data_type {
    gap: 12px;
    margin-bottom: 46px;
  }

  .wrapper_data_label {
    padding: 16px;
    gap: 73px;
    font-size: 16px;
  }

  .wrapper_select {
    gap: 79px;
    font-size: 16px;
  }

  .wrapper_data_icon {
    width: 20px;
    height: 20px;
  }

  .select_icon {
    width: 20px;
    height: 20px;
  }
  .btn_back {
    padding: 14px 67px;
    font-size: 16px;
  }

  .btn_submit {
    padding: 14px 58px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .pet_form {
    padding: 60px 80px;
    max-width: 592px;
  }

  .form_title {
    font-size: 32px;
  }

  .form_box_radios {
    top: 132px;
  }
}
