.location {
  display: flex;
  position: relative;
  max-width: 335px;
  margin: 0 auto;
}

.input_location {
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  width: 100%;
}

.input_location::placeholder {
  color: #262626;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
}

.box_icon {
  position: absolute;
  top: 50%;
  right: 12px;
  display: flex;
  gap: 4px;
  transform: translateY(-50%);
}

.icon_search {
  stroke-width: 2px;
  stroke: #262626;
  fill: transparent;
}

.icon_cross {
  stroke-width: 2px;
  stroke: #262626;
  fill: none;
}

.form_btn_search,
.form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .location {
    max-width: 227px;
  }

  .location_form {
    padding: 14px;
  }

  .input_location::placeholder {
    font-size: 16px;
  }

  .form_btn {
    top: 14px;
    right: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .location {
    max-width: 218px;
  }
}
