.pets_item {
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  padding: 16px 46px 16px 96px;
  display: flex;
  position: relative;
  background: #fff;
}

.btn_trash {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 7px;
  background: #fff4df;
  position: absolute;
  top: 12px;
  right: 12px;
}

.icon_trash {
  stroke-width: 1.2px;
  stroke: #f6b83d;
  fill: none;
}

.avatar {
  position: absolute;
  border-radius: 100px;
  max-width: 66px;
  max-height: 66px;
  top: 16px;
  left: 16px;
}

.image {
  display: block;
  overflow: hidden;
}

.pet_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #2b2b2a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
}

.pet_items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.text_span {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .pets_item {
    max-width: 305px;
    /* width: calc((100% - 14px) / 2); */
    flex-direction: row;
    padding: 34px 62px 34px 135px;
  }
}

@media screen and (min-width: 1280px) {
  .pets_item {
    width: 100%;
    max-width: 440px;
    flex-direction: column;
  }

  .btn_trash {
    top: 20px;
    right: 20px;
  }

  .icon_trash {
    width: 18px;
    height: 18px;
  }

  .avatar {
    top: 20px;
    left: 20px;
    max-width: 90px;
    max-height: 90px;
  }

  .pet_info {
    gap: 12px;
    max-width: 243px;
  }

  .pet_items {
    gap: 27px;
    flex-wrap: nowrap;
  }
}
