.box_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.box_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.box_link {
  border-radius: 30px;
  padding: 10px;
  background: #f6b83d;
  max-width: 103px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.icon_plus {
  stroke-width: 1.5px;
  stroke: #fff;
}

.box_link:hover {
  background: #fbe7c1;
}

@media screen and (min-width: 768px) {
  .box_text {
    font-size: 18px;
  }

  .box_link {
    font-size: 16px;
    max-width: 118px;
    padding: 11px 20px;
  }
}
