.news {
  padding: 114px 0 80px 0;
  background: #f9f9f9;
  gap: 24px;
  display: flex;
}

.box_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .news {
    padding-top: 167px;
  }

  .box_top {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .news {
    padding-top: 178px;
  }

  .box_top {
    margin-bottom: 60px;
  }
}
