.notices_filter {
  border-radius: 30px;
  background: #fff4df;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.second_box_form {
  display: flex;
  gap: 8px;
}

.control_category {
  border-radius: 30px;
  padding: 0 12px;
  min-height: 42px;
  height: 42px;
  box-sizing: border-box;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  display: flex;
  align-items: center;
}

.menu {
  margin-top: 4px;
  border-radius: 15px;
  background: #fff;
  overflow: hidden;
}

.valueContainer {
  padding-right: 39px;
}

.singleValue {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.option {
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.6);
}

.optionSelected {
  color: #f6b83d;
  padding-left: 12px;
}

.option:hover {
  color: #f6b83d;
  padding-left: 12px;
}

.placeholder {
  font-weight: 500;
  color: #262626;
}

.form_category,
.form_gender {
  flex: 1;
}

.form_radio {
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  display: inline-flex;
  align-items: center;
}

.radio_btn {
  border-radius: 30px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: #262626;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radio_btn_active {
  background: #f6b83d;
  color: #fff;
}

.radio_btn input {
  display: none;
}

.radio_btn:has(input:checked) {
  background: #f6b83d;
  color: #fff;
}

.btn_close {
  margin-left: auto;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close_icon {
  color: #fff;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .notices_filter {
    padding: 40px 32px;
  }

  .forms {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .second_box_form {
    gap: 16px;
  }

  .control_category {
    font-size: 16px;
    padding: 0 14px;
  }

  .singleValue {
    font-size: 16px;
  }

  .option {
    font-size: 16px;
    padding: 6px 14px;
  }

  .radio_btn,
  .radio_btn_active {
    font-size: 16px;
    padding: 14px;
  }

  .search_form {
    min-width: 265px;
  }

  .form_category {
    width: 170px;
  }

  .form_gender {
    width: 170px;
  }

  .form_type {
    width: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .notices_filter {
    padding: 40px;
  }

  .forms {
    flex-wrap: nowrap;
  }

  .form_category {
    width: 200px;
  }

  .form_gender {
    width: 185px;
  }

  .form_type {
    width: 190px;
  }
}
