.friends_item {
  background: #fff;
  border-radius: 15px;
  padding: 40px 20px;
  position: relative;
  display: flex;
  gap: 14px;
}

.time {
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  padding: 8px;
  background: #fff4df;
}

.text_time {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #f6b83d;
}

.image {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.image img {
  width: 80px;
  height: 80px;
  display: block;
}

.friends_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  color: #262626;
  margin-bottom: 14px;
}

.friends_data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.friend_item {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
  max-width: 212px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend_item:hover {
  color: #f6b83d;
}

.span_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 212px;
}

@media screen and (min-width: 768px) {
  .friends_item {
    gap: 16px;
    width: calc((100% - 21px) / 2);
  }

  .text_time {
    font-size: 14px;
  }

  .image {
    height: 90px;
  }

  .friends_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .friends_item {
    gap: 16px;
    width: calc((100% - 40px) / 3);
    max-width: 371px;
  }
}
