.notice_item {
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.notice_image {
  overflow: hidden;
  border-radius: 16px;
  width: 287px;
  height: 178px;
}

.notice_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.notice_info {
  display: flex;
  flex-direction: column;
}

.notice_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.icon_star {
  fill: #ffc531;
}

.popularity {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #2b2b2a;
}

.notice_second_box {
  display: flex;
  gap: 14px;
  margin-bottom: 16px;
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.text_span {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.notice_comment {
  margin-bottom: 16px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  height: 36px;
}

.price {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 12px;
}

.notice_btn {
  display: flex;
  gap: 10px;
}

.more_btn {
  border-radius: 30px;
  padding: 14px 80px;
  background: #f6b83d;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

.more_btn:hover {
  background: #fff4df;
  color: #f6b83d;
}

.heart_btn {
  background: #fff4df;
  border-radius: 30px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_heart {
  stroke-width: 1.5px;
  stroke: #f6b83d;
  fill: none;
}

@media screen and (min-width: 768px) {
  .notice_item {
    width: calc((100% - 20px) / 2);
  }

  .notice_image {
    width: 294px;
  }

  .title {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
  }

  .more_btn {
    padding: 14px 78px;
    font-size: 16px;
  }

  .heart_btn {
    padding: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .notice_item {
    width: calc((100% - 64px) / 3);
  }

  .notice_image {
    width: 315px;
  }

  .more_btn {
    padding: 14px 89px;
  }
}
