.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  pointer-events: auto;
}

.modal {
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 335px;
  width: auto;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  pointer-events: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 600px;
  }
}
