.title_text {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .title_text {
    font-size: 54px;
  }
}

@media screen and (min-width: 1280px) {
  .title_text {
    font-size: 54px;
  }
}
