.user_block {
}

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 28px;
}

.avatar {
  border-radius: 100px;
  width: 94px;
  height: 94px;
}

.box_image {
  border-radius: 100px;
  width: 94px;
  height: 94px;
  background: #fff4df;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.icon_user {
  border-radius: 1px;
  fill: #f6b83d;
  stroke-width: 2px;
  stroke: #f6b83d;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #262626;
}

.form {
  margin-bottom: 40px;
}

.form_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.user_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.wrapper_text {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px;
  max-height: 42px;
  display: flex;
  align-items: center;
}

.profile_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.form_input_tel {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
  max-height: 42px;
}

.form_input_tel::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin-bottom: 20px;
  }

  .avatar {
    border-radius: 100px;
    width: 110px;
    height: 110px;
  }

  .box_image {
    width: 110px;
    height: 110px;
    padding: 30px;
  }

  .icon_user {
    width: 50px;
    height: 50px;
  }

  .text {
    font-size: 14px;
  }

  .form_text {
    font-size: 18px;
  }

  .user_form {
    gap: 14px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper_text,
  .form_input_tel {
    width: 305px;
    max-height: 50px;
    padding: 16px;
  }

  .form_input_tel::placeholder {
    font-size: 16px;
  }

  .profile_text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .user_form {
    flex-direction: column;
  }

  .wrapper_text,
  .form_input_tel {
    max-height: 52px;
    width: 440px;
  }
}
