.form_box {
  padding: 27px 20px;
  border-radius: 30px;
  background: #fff;
}

.form_info {
  margin-bottom: 20px;
}

.form_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
  margin-bottom: 12px;
}

.form_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 24px;
}

.form_input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.form_box_btn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 30px;
  padding: 12px 99px;
  background: #f6b83d;
  cursor: pointer;
  margin-bottom: 12px;
}

.form_btn:hover {
  background: #fff4df;
  color: #f6b83d;
}

.form_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  text-align: center;
}

.form_link_text {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
