.login {
  padding: 80px 0 20px 0;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.login_image {
  border-radius: 30px;
  max-width: 335px;
  margin: 0 auto;
  overflow: hidden;
}

.login_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .login {
    padding: 114px 0 32px 0;
  }

  .login_image {
    border-radius: 60px;
    max-width: 704px;
  }

  .login_box {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .login_box {
    flex-direction: row;
    gap: 32px;
  }

  .login_image,
  .login_form {
    width: 592px;
    flex-shrink: 0;
  }
}
