.modal_notice {
  border-radius: 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 28px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn_close {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.icon_cross {
  stroke-width: 2px;
  stroke: #262626;
  fill: none;
}

.image_box {
  max-width: 120px;
  max-height: 120px;
  border-radius: 100px;
  position: relative;
  margin-bottom: 20px;
}

.category {
  position: absolute;
  border-radius: 30px;
  background: #fff4df;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #f6b83d;
}

.image {
  display: block;
  overflow: hidden;
  border-radius: 100px;
}

.box_title_pop {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  text-align: center;
  margin-bottom: 10px;
}

.popularity {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.icon_star {
  fill: #ffc531;
}

.icon_star_grey {
  fill: rgba(38, 38, 38, 0.05);
}

.box_notice {
  display: flex;
  gap: 27px;
  margin-bottom: 16px;
}

.text {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.text_span {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #262626;
}

.notice_comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #2b2b2a;
  text-align: center;
  margin-bottom: 32px;
}

.price {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.text_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  text-align: center;
}

.price_box_btn {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.add_btn {
  position: relative;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 57px 12px 31px;
  background: #f6b83d;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #fff;
}

.icon_heart {
  fill: none;
  stroke: #fff;
  position: absolute;
  right: 31px;
}

.contact_button {
  cursor: pointer;
  background: #fff4df;
  border-radius: 30px;
  padding: 12px 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #f6b83d;
}

.add_btn:hover,
.add_btn:active {
  background: #fff4df;
  color: #f6b83d;
}

.icon_heart:hover {
  stroke: #f6b83d;
}

.contact_button:hover {
  background: #fbe7c1;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .modal_notice {
    padding: 40px 72px;
  }

  .image_box {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 16px;
  }

  .category_text {
    font-size: 14px;
  }

  .box_title_pop {
    margin-bottom: 20px;
  }

  .title {
    font-size: 18px;
  }

  .text_price {
    font-size: 18px;
  }

  .add_btn {
    padding: 14px 69px 14px 43px;
  }

  .contact_button {
    padding: 14px 50px;
  }
}
