.register {
  padding: 73px 0 20px 0;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.register_image {
  border-radius: 30px;
  max-width: 335px;
  margin: 0 auto;
  overflow: hidden;
}

.register_title {
  display: none;
}

.register_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .register {
    padding: 114px 0 32px 0;
  }

  .register_image {
    border-radius: 60px;
    max-width: 704px;
    display: flex;
    position: relative;
  }

  .register_title {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 32px;
    bottom: 32px;
  }

  .register_box {
    gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .register_box {
    flex-direction: row;
    gap: 32px;
  }

  .register_image,
  .register_form {
    width: 592px;
    flex-shrink: 0;
  }

  .register_title {
    left: 61px;
    bottom: 97px;
  }
}
