.register {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register_image {
  border-radius: 30px;
  max-width: 335px;
  width: 100%;
  height: 280px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .register {
    gap: 16px;
  }

  .register_image {
    border-radius: 60px;
    max-width: 704px;
    height: 302px;
  }
}

@media screen and (min-width: 1280px) {
  .register {
    flex-direction: row;
    gap: 32px;
  }

  .register_image {
    max-width: 592px;
    height: 654px;
  }
}
