.news_item {
  display: flex;
  flex-direction: column;
  max-width: 335px;
  width: 100%;
}

.new_image {
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}

.new_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.new_info {
  margin-bottom: 19px;
}

.new_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #262626;
  margin-bottom: 12px;
}

.new_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}

.new_data {
  display: flex;
  justify-content: space-between;
}

.data {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .news_item {
    max-width: 335px;
  }

  .new_image,
  .new_info {
    margin-bottom: 28px;
  }

  .new_title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .new_text,
  .data,
  .link {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
}
