.user_card {
  border-radius: 30px;
  background: #fff;
  padding: 18px 20px 40px;
}

@media screen and (min-width: 768px) {
  .user_card {
    padding: 40px;
    border-radius: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .user_card {
    max-width: 520px;
  }
}
