.user_card {
  border-radius: 30px;
  background: #fff;
  padding: 18px 20px 40px;
  margin-bottom: 40px;
}

.btn_logout {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .user_card {
    padding: 40px;
    border-radius: 60px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .user_card {
    width: 520px;
  }

  .btn_logout {
    margin-top: 40px;
  }
}
