.modal_approve {
  padding: 40px 28px;
  border-radius: 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn_close {
  position: absolute;
  background: transparent;
  top: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.icon_cross {
  stroke-width: 2px;
  stroke: #262626;
  fill: none;
}

.modal_image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 20px;
}

.image {
  display: block;
  overflow: hidden;
}

.modal_box {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.modal_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #262626;
  text-align: center;
}

.modal_btn {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-height: 42px;
}

.btn_yes {
  border-radius: 30px;
  padding: 12px 57px;
  background: #f6b83d;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

.btn_cancel {
  background: rgba(38, 38, 38, 0.05);
  border-radius: 30px;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.btn_yes:hover {
  background: #fff4df;
  color: #f6b83d;
}

.btn_cancel {
  background: #fbe7c1;
  color: #f6b83d;
}

@media screen and (min-width: 768px) {
  .modal_approve {
    padding: 80px;
  }

  .modal_title {
    font-size: 24px;
  }

  .modal_btn {
    max-height: 48px;
  }

  .btn_yes {
    padding: 14px 57px;
  }

  .btn_cancel {
    padding: 14px 44px;
  }
}
