.logo {
  display: flex;
  align-items: center;
}

.logo_text_home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}

.logo_icon_home {
  fill: #fff;
  display: block;
  width: 14px;
  height: 12px;
}

.logo_text_other {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}

.logo_icon_other {
  fill: #fff;
  display: block;
  width: 14px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .logo_text_home {
    font-size: 28px;
  }

  .logo_icon_home {
    width: 19px;
    height: 17px;
  }

  .logo_icon_other {
    width: 19px;
    height: 17px;
  }

  .logo_text_other {
    font-size: 28px;
  }
}
