:root {
  --font-family: "Manrope", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.8;
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  transition: all 0.2s ease;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* Styles for Mobile devices */
@media screen and (min-width: 375px) {
  .container {
    padding: 0 20px;
  }
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 32px;
    max-width: 1280px;
  }
}
